*,
*::before,
*::after {
    box-sizing: border-box;
}

/* .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    display: flex;
    column-gap: 30px;
}

.shops-wrapper {
    width: 50%;
} */

/* .shops-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px; */
}

.shop {
    background-color: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc((100% - 15px) / 2);
}


ul.shop-address-list {
    list-style-type: none;
    padding-left: 0;
}



iframe {
    width: 100%;
    display: block;
}




.container {
  
    margin: 20px 30px;
}





@media (max-width: 1399px) {
    .container {
        display: flex;
        gap: 30px;
    }
    
    .shops-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: calc((100% - 30px) / 2);
    }
    
    .shops-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    .shop {
        width: calc((100% - 15px) / 2);
    }

    .map-wrapper {
        width: calc((100% - 30px) / 2);

    }

}

@media (max-width: 1199px) {
    .container {
        display: flex;
        gap: 30px;
    }
    
    .shops-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: calc((100% - 30px) / 3*2);
    }
    
    .shops-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    .shop {
        width: calc((100% - 15px) / 2);
    }

    .map-wrapper {
        width: calc((100% - 30px) / 3);

    }
}

@media (max-width: 999px) {
    .container {
        display: flex;
        gap: 30px;
    }

    .shops-wrapper {
        width: calc((100% - 30px) / 2);
    }

    .shops-list {
        display: flex;
      
        gap: 15px;
    }

    .shop {
        width: 100%;
    }

    .map-wrapper
    {
        width: calc((100% - 30px) / 2);

    }
}




@media (max-width: 799px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }

    .shops-wrapper {
        order: 10;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .shops-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
       
    }

    .shop {
        width: calc((100% - 15px) / 2)
    }
}

@media (max-width: 499px) {
    .container {
        display: flex;
        gap: 30px;
    }

    .shops-wrapper {
        order: 10;
        display: flex;
        gap: 30px;
    }

    .shops-list {
        display: flex;
        width: 100%;
    }

    .shop {
        width: 100%;
    }
}






.shop {
    background-color: white;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
}